.DS_Store
.env*
.coverage*
/.vscode
*.code-workspace
/.run/
/activate
/.local/
/.venv/
/src/*.egg-info
*.sqlite?
*.pid
.*.sw[poc]
*.py[co]
__pycache__/
/build/
/dist/
/report/
/docs/build/
.azure/
.idea/
ipy/.ipynb_checkpoints
.coverage
*.sqlite3
minder_conf.yml
