ENABLE_DEBUG=True
SECRET_KEY='asldfjalskjfqWEKFQOJ34jof2$JFO'
REDIS_URL='redis://:@localhost:6379/0'
BOT_PREFIX='%'
BOT_TOKEN='YOUR_TOKEN_HERE'
FLASK_HOST='0.0.0.0'
FLASK_PORT=9090
ENABLE_AUTORELOAD=True
USE_DEFAULT_ERROR_HANDLER=True
REDISENT_LOGGING=
VERBOSE_ERROR_MESSAGES=True
USE_TIMEZONE='America/Los_Angeles'
SQLALCHEMY_URI="sqlite:////${PWD}/minder.sqlite3"
SQLALCHEMY_ECHO=True
DEFAULT_CHECK_INTERVAL=10
SYNC_SLASH_COMMANDS=True
