ENABLE_DEBUG=True
SECRET_KEY='asldfjalskjfqWEKFQOJ34jof2$JFO'
REDIS_URL='redis://:@localhost:6379/0'
BOT_PREFIX='%'
BOT_TOKEN='YOUR_TOKEN_HERE'
QUART_HOST='0.0.0.0'
QUART_PORT=9090
QUART_AUTH_COOKIE_SECURE=False
ENABLE_AUTORELOAD=True
USE_DEFAULT_ERROR_HANDLER=True
REDISENT_LOGGING=False
VERBOSE_ERROR_MESSAGES=True
