defaults:
  admins: [1234567890]         # Bot-wide admin member IDs
  extended_errors: False        # Include traceback in errors
  ignore_other_guilds: True     # Indicates that guilds not specified here are otherwise ignored

users:
  1234567890: # Owner user
    name: 'minder admin'
    is_admin: True          # Indicates if the user is a Web UI admin

  1111111111: # "My Guild" admin
    name: 'guild admin'
    is_admin: False

  9876543210: # "regular user"
    name: 'user'
    is_admin: False
        
guilds:
  5678912345:
    name: 'My Guild'
    admins: [111111111]    # Guild-only admins
    bot_channel: 333333333 # Bot admin channel
    extended_errors: True   # Enable extended error output

  8765432134:
    name: 'Other server'
    admins: []              # No guild admins
    bot_channel: 444444444  # "#bot-admin"
