APScheduler
click
dateparser
discord.py
python-dotenv
humanize
IPython
redisent
SQLAlchemy
colorlog
colorama

#web
flask
flask-Login
flask-SQLAlchemy
flask-Bootstrap
flask-Moment
flask-Pretty
flask-WTF
WTForms-Alchemy
WTForms
Werkzeug
