APScheduler
click
dateparser
discord.py
discord-ext-menus
discord-py-slash-command
emoji
python-dotenv
humanize
IPython
pyYAML
SQLAlchemy
colorlog
colorama

#redisent master release
#git+git://github.com/synistree/redisent.git#egg=redisent
redisent

#web
flask
flask-Login
flask-SQLAlchemy
flask-Bootstrap
flask-Moment
flask-Pretty
flask-WTF
WTForms-Alchemy
WTForms
Werkzeug
