{% extends 'bootstrap/base.html' %}
{% import 'macros.j2' as m with context %}

{% block title %}
    {%- if title %}{{ title }} - {% endif%}minder Web UI
{% endblock %}

{% block navbar %}
{% include 'navbar.j2' %}
{% endblock %}

{% block styles -%}
{{ super() }}
<link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">
{#<link href="//stackpath.bootstrapcdn.com/bootswatch/3.4.1/darkly/bootstrap.min.css" rel="stylesheet">#}
{#<link href="{{ url_for('static', filename='css/bootstrap-darkly.min.css') }}" rel="stylesheet">#}
<link href="{{ url_for('static', filename='css/minder.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}" rel="stylesheet">
{%- if include_datatables %}
<link href="{{ url_for('static', filename='css/responsive.bootstrap4.min.css') }}" rel="stylesheet"> <!-- //cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css -->
<link href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}" rel="stylesheet"> <!-- //cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css -->
<link href="{{ url_for('static', filename='css/select.dataTables.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}" rel="stylesheet"> <!-- //cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css -->
{%- endif %}
{% block styles_footer %}{% endblock %}
{% endblock styles %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment(version='2.29.1') }}
{%- if include_datatables %}
<script src="{{ url_for('static', filename='scripts/jquery.dataTables.min.js') }}"></script> <!-- //cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js -->
<script src="{{ url_for('static', filename='scripts/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/dataTables.bootstrap4.min.js') }}"></script> <!-- //cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js -->
<script src="{{ url_for('static', filename='scripts/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/responsive.bootstrap4.min.js') }}"></script> <!-- //cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js -->
<script src="{{ url_for('static', filename='scripts/dataTables.buttons.min.js') }}"></script> <!-- //cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js -->
<script src="{{ url_for('static', filename='scripts/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/dataTables.select.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/buttons.colVis.min.js') }}"></script>
{%- endif %}
<script src="{{ url_for('static', filename='scripts/minder.js') }}"></script>
<script>
  $(document).ready(function () {
    $(".{{ request.path[1:] or 'overview' }}-link").addClass("active");
    {% block js_on_ready %}{% endblock %}
  });
</script>

{% block scripts_footer %}{% endblock %}

{% endblock %}

{% block content %}
<div class="container-fluid">
  {%- with messages = get_flashed_messages() %}
    {%- if messages %}
      {%- for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {%- endfor %}
    {%- endif %}
  {%- endwith %}
  {% block app_content %}{% endblock %}
</div>
{% endblock %}

{# vim: set ts=2 sw=2 smarttab autoindent expandtab ft=html: #}
